* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf2f9;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.welcome-message {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.section-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  overflow-y: auto;
}

.section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#86c1ff, #1c79c0);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border-radius: 4px;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.section-link:hover {
  background: linear-gradient(#63a8ff, #1c79c0);
}

.section-link-text {
  margin: 0;
}

.logout-form {
  position: fixed;
  top: 20px;
  right: 20px;
}

.logout-form input[type="submit"] {
  background-color: #888;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-form input[type="submit"]:hover {
  background-color: #666;
}

.admin-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(#86c1ff, #1c79c0);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.admin-link:hover {
  background: linear-gradient(#63a8ff, #1c79c0);
}

.ecollyday {
  position: fixed;
  bottom: 20px;
  left: 20px;
  /* background: linear-gradient(#86c1ff, #1c79c0); */
  /* color: white; */
  /* text-decoration: none; */
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* border-radius: 4px; */
  padding: 10px 20px;
  /* transition: background-color 0.3s ease; */
}

.ecollyday img {
  width: 150px;
}

/* .ecollyday:hover {
  background: linear-gradient(#63a8ff, #1c79c0);
} */

@media screen and (max-width: 600px) {
  .welcome-message {
      font-size: 24px;
  }

  .section-link {
      font-size: 18px;
      padding: 15px;
  }
}
