body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.goopics.net/49l75b.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    border-radius: 10%;
    color: #D7EBF3;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #D7EBF3;
    margin: 10px;
}