* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf2f9;
}

.navbar {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    margin: 10px;
}

.navbar a:hover {
    color: #86c1ff;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    text-align: center;
}

.green-date {
    background-color: green !important;
    color: white;
}

.red-date {
    background-color: red !important;
    color: white;
}

.submit-button {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    align-self: center;
}

.submit-button:hover {
    background-color: #555;
}

.input-group input[type="number"].valid {
    border-color: #82cc82;
}

.input-group input[type="number"].invalid {
    border-color: #ff6b6b;
}

.flatpickr-calendar {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.flatpickr-calendar .green-date {
    background-color: #82cc82 !important;
    color: white;
}

.flatpickr-calendar .red-date {
    background-color: #ff6b6b !important;
    color: white;
}

#dispo_date {
    display: none;
}

#not_dispo_date {
    display: none;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.alert-box {
    display: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
}

/* ----------------------- */

/* Styles pour le formulaire */
.form-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content; /* Hauteur adaptée au contenu */
    gap: 20px;
}

/* Styles pour les éléments du formulaire */
.flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

/* Styles pour les groupes d'éléments */
.input-group, .transport-group {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Styles pour les labels */
.input-group label, .transport-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

/* Styles pour les petites notes */
.input-group small, .transport-group small {
    color: #888;
}

/* Styles pour les boutons */
button {
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #2580b3;
}

/* Styles pour les champs de saisie et cases à cocher */
input[type="number"],
input[type="text"],
input[type="checkbox"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Styles pour les cases à cocher */
.transport-group .checkboxes {
    gap: 10px;
}

/* Styles pour les cases à cocher et les labels associés */
.transport-group input[type="checkbox"] {
    margin-top: 2px;
}

/* Styles pour les éléments centrés */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour les boutons groupés */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* -------------------------- */

/* Styles pour les modales */
.modal {
    display: none; /* Masquer la modal par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 50%; /* Largeur maximale de la modal */
    width: 50%; /* Largeur de la modal */
    height: 60%; /* Hauteur de la modal */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Styles pour les boutons de fermeture */
.modal button {
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
}

.modal button:hover {
    background-color: #2580b3;
}
