* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf2f9;
    overflow: hidden;
}

.navbar {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    margin: 10px;
}

.navbar a:hover {
    color: #86c1ff;
}

h1 {
    font-size: 24px;
    position: fixed;
    top: 15px;
    right: 20px;
    text-align: right;
    margin: 0;
    color: white;
}

h2 {
    text-align: center;
}

.green-date {
    background-color: green !important;
    color: white;
}

.red-date {
    background-color: red !important;
    color: white;
}

/* Formulaire */
.form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-column {
    flex: 1;
    padding: 0 10px;
}

.input-group {
    margin-bottom: 15px;
}

select.country-select {
    height: 150px;
    width: 48%;
}

.transport-group {
    margin-top: 15px;
}

.transport-checkbox {
    margin-right: 5px;
}

.submit-button {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #555;
}

/* Calendrier */
.flatpickr-calendar .green-date {
    background-color: #82cc82 !important;
    color: white;
}

.flatpickr-calendar .red-date {
    background-color: #ff6b6b !important;
    color: white;
}
