* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf2f9;
  }
  
  .navbar {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    margin: 10px;
  }
  
  .navbar a:hover {
    color: #86c1ff;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }

table {
    border-collapse: collapse;
    margin: auto;
    padding-top: 50px;
}

td {
    width: 50px; /* Ajuster la taille des cases selon vos préférences */
    height: 50px; /* Assurez-vous que la largeur et la hauteur sont égales pour avoir des cases carrées */
    text-align: center;
    border: 1px solid black;
}